### Zad 1

In [1]:
import pandas as pd

df = pd.read_csv('iris_with_errors.csv')
print(df.shape)
df.head()

(150, 5)

  sepal.length sepal.width  petal.length  petal.width variety
0          5.1         3.5           1.4          0.2  Setosa
1          4.9           3           1.4          0.2  Setosa
2          4.7         3.2           1.3          0.2  Setosa
3          4.6         3.1           1.5          0.2  Setosa
4            5         3.6           1.4          0.2  Setosa

In [50]:
for col in df.columns:
    print(f'{col}: {df[col].dtypes}')

sepal.length: object
sepal.width: object
petal.length: float64
petal.width: float64
variety: object

In [51]:
columns_with_object_type = ['sepal.length', 'sepal.width']

for col in columns_with_object_type:
    df[col] = df[col].replace('-', 0.0)
    df[col] = df[col].astype(float)

In [52]:
df.isnull().sum()

sepal.length    1
sepal.width     0
petal.length    0
petal.width     1
variety         0
dtype: int64

In [53]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [54]:
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [55]:
for column in df.columns[:-1]:
    median_value = df[column].median()
    out_of_range_mask = (df[column] < 0) | (df[column] > 15)
    df.loc[out_of_range_mask, column] = median_value

In [56]:
label = df.columns[-1]
df[label].value_counts()

variety
Setosa         49
Versicolor     49
Virginica      48
virginica       2
setosa          1
Versicolour     1
Name: count, dtype: int64

In [57]:
df[label] = df[label].replace('virginica', 'Virginica')
df[label] = df[label].replace('setosa', 'Setosa')
df[label] = df[label].replace('Versicolour', 'Versicolor')

In [58]:
df[label].value_counts()

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64